@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --reloop-blue: #359DFE;
  --reloop-gold: #9F9366;
  --reloop-silver: #ACACAC;
}

body {
  color: #1a1a1a;
  background: #ffffff;
}

/* 스크롤바 숨김 */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

